<section class="container bg-white page-section mt-9 mb-9 rounded" id="services">
  <div class="container  p-4">
    <div class=" text-center mt-2 mb-2">
      <h2 class="text-color-1 font-weight-bold p-3">Internet - IObyte Networks</h2>
      <p class="text-md-start text-color-1 font-weight-light p-3">Nos especializamos en
        servicios
        de infraestructura de telecomunicaciones y servicios de TI, la calidad en servicios y operación esta basada en
        altos estándares que regulan a la industria de tecnología, siempre procurando la alta disponibilidad del recurso
        tecnológico de nuestros clientes.</p>
    </div>
    <div class="d-flex row text-center p-4">
      <div class="col-4 animate__animated animate__fadeInLeftBig ">
        <div class="d-flex bg-color-1 p-4">
          <h2 class="d-flex text-lg text-white text-center m-auto p-4">
            5 MB</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title text-color-1">Internet en casa - Paquete basico</h5>
          <h5 class="text-md text-color-1">$249 + IVA</h5>
          <h5 class="text-sm text-color-2">Proto pago $199 + IVA</h5>
          <p class="card-text">Paquete hogareño - Equipos arrendados, mensualidades fijas, sin planes forzosos.
          </p>
          <p class="card-text text-sm text-color-2">*Solicita Informacion de cobertura*
          </p>
          <h5 class="text-md text-color-1">5 MB de subida </h5>
          <h5 class="text-md text-color-1">1 MB de bajada</h5>

          <a href="#" class="btn bg-color-3 text-white p-2 mt-3 rounded-pill">Contratar</a>
        </div>
      </div>
      <div class="col-4 animate__animated animate__fadeInLeftBig ">
        <div class="d-flex bg-color-1 p-4">
          <h2 class="d-flex text-lg text-white text-center m-auto p-4">
            10 MB</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title text-color-1">Internet en casa - Paquete hogar</h5>
          <h5 class="text-md text-color-1">$349 + IVA</h5>
          <h5 class="text-sm text-color-2">Proto pago $299 + IVA</h5>
          <p class="card-text">Paquete hogareño - Equipos arrendados, mensualidades fijas, sin planes forzosos.
          </p>
          <p class="card-text text-sm text-color-2">*Solicita Informacion de cobertura*
          </p>
          <h5 class="text-md text-color-1">10 MB de subida </h5>
          <h5 class="text-md text-color-1">2 MB de bajada</h5>

          <a href="#" class="btn bg-color-3 text-white p-2 mt-3 rounded-pill">Contratar</a>
        </div>
      </div>
      <div class="col-4 animate__animated animate__fadeInLeftBig">
        <div class="d-flex bg-color-1 p-4">
          <h2 class="d-flex text-lg text-white text-center m-auto p-4">
            100 MB</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title text-color-1">Internet empresarial - Paquete para negocios</h5>
          <h5 class="text-md text-color-1">$2349 + IVA</h5>
          <h5 class="text-sm text-color-2">Proto pago $2,149 + IVA</h5>
          <p class="card-text">Paquete hogareño - Equipos arrendados, mensualidades fijas, sin planes forzosos.
          </p>
          <p class="card-text text-sm text-color-2">*Solicita Informacion de cobertura avanzada*
          </p>
          <h5 class="text-md text-color-1">100 MB de subida </h5>
          <h5 class="text-md text-color-1">50 MB de bajada</h5>

          <a href="#" class="btn bg-color-3 text-white p-2 mt-3 rounded-pill">Contratar</a>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex row text-center animate__animated animate__fadeInRight p-4">
      <iframe class="w-100 m-auto d-flex maps"
        src="https://www.google.com/maps/d/embed?mid=1JXKJ_gcXPbFYAl1lA8Vx1Uzg--Hs-Q74"></iframe>
    </div>
  </div>
</section>